doctype 5
html
  head
    include head.jade
  body
    nav.ui.borderless.menu.navbar
      .item
        a(href="#{homeUrl}")
          img.tiny.image(src="#{baseImg}")
      .item
        h1 #{proj}
      #navmenu.right.menu
        a(href="#{exploreUrl}")
          .ui.basic.button
            | Explore
        a(href="#{submitUrl}")
          .ui.basic.button
            | Submit
        a(href="https://medium.com/the-saxifrage-school/")
          .ui.basic.button
            | Blog
    .explore-namespace
      .topic-view
        span(data-bind="foreach: topics")
          span(data-bind="foreach: rows")
            .ui.green.label(data-bind="text: title, click: $root.topicClick, css: { 'activeTopic': activeTopic === true }")
          br
      .ui.stackable.two.column.grid.hide
        .column
          h3.card-header Local Events
          div(data-bind="foreach: opportunities")
            .ui.fluid.card
              .content
                .header
                  img.ui.huge.floated.image(src='../static/images/learnpgh-logo.png')
                  a(data-bind='text: title, attr: {href: url}')
                  .meta
                    span.right.floated.time(data-bind='text: time')
                    span.category(data-bind='text: author')
                .description(data-bind="truncatedText: desc, maxTextLength: 210")
              .extra.content
                .left.floated
                  a(data-bind="text: addedBy, attr: {href: addedByUrl}")
                .right.floated
                  i.fa.fa-child(data-bind="visible: isChildFriendly")
                  i.fa.fa-usd(data-bind="visible: isNonFree")
                  i.fa.fa-lock(data-bind="visible: isPrivate")
                  span.type(data-bind="text: type")
        .column
          h3.card-header Digital Resources
          div(data-bind="foreach: resources")
            .ui.fluid.card
              .content
                .header
                  img.ui.huge.floated.image(src='../static/images/learnpgh-logo.png')
                  a(data-bind='text: title, attr: {href: url}')
                  .meta
                    span.right.floated.time(data-bind='text: time')
                    span.category(data-bind='text: author')
                .description(data-bind="truncatedText: desc, maxTextLength: 210")
              .extra.content
                .left.floated
                  a(data-bind="text: addedBy, attr: {href: addedByUrl}")
                .right.floated
                  i.fa.fa-child(data-bind="visible: isChildFriendly")
                  i.fa.fa-usd(data-bind="visible: isNonFree")
                  i.fa.fa-lock(data-bind="visible: isPrivate")
                  span.type(data-bind="text: type")
    include foot.jade