doctype 5
html
  head
    include head.jade
  body
    nav.ui.borderless.menu.navbar
      .item
        a(href='#{homeUrl}')
          img.tiny.image(src='#{baseImg}')
      .item
        h1 #{proj}
      #navmenu.right.menu
        a(href='#{exploreUrl}')
          .ui.basic.button
            | Explore
        a(href='#{submitUrl}')
          .ui.basic.button
            | Submit
        a(href='https://medium.com/the-saxifrage-school/')
          .ui.basic.button
            | Blog
    .topic-view
    .learning-info-view
    include foot.jade