title #{baseTitle}
link(rel='stylesheet', href='app.min.css')
meta(property='og:title', content='#{ogTitle}')
meta(property='og:description', content='#{ogDesc}')
meta(property='og:url', content='#{ogUrl}')
meta(property='og:image', content='#{ogImg}')