doctype 5
html
  head
    include head.jade
  body
    nav.ui.borderless.menu.navbar
      .item
        a(href='#{homeUrl}')
          img.tiny.image(src='#{baseImg}')
      .item
        h1 #{proj}
      #navmenu.right.menu
        a(href='#{exploreUrl}')
          .ui.basic.button
            | Explore
        a(href='#{submitUrl}')
          .ui.basic.button
            | Submit
        a(href='https://medium.com/the-saxifrage-school/')
          .ui.basic.button
            | Blog
    .ui.grid
      .row
        #bridge.column
          .ui.huge.message.page.grid.center.aligned
            h1.ui.huge.nobackground #{city} is yours to discover.
            p
              | We are building one place to find all of the resources you need to learn about anything.
            a.ui.huge.teal.button Explore!
    .ui.grid
      .two.wide.column
        #footer.ui.left.aligned.segment
          a.borderless.messsage(href='https://www.github.com/entelekialearning/website')
            i.teal.big.github.icon
      .twelve.wide.column
        #footer.ui.center.aligned.segment
          p#footer-text "We are all schoolmasters and our schoolhouse is the universe."
      .two.wide.column
        #footer.ui.right.aligned.segment
          a(href='#{twitUrl}')
            i.teal.big.twitter.icon
    include foot.jade
